/* estilo2.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px; /* Reduzi o espaçamento para melhorar a responsividade */
    margin-left: 20px; /* Reduzi o espaçamento para melhorar a responsividade */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #6ed3d3;
}

body {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 110px); /* Altura mínima que permite espaço para o rodapé */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Adicionando um z-index negativo para enviar o vídeo para a camada de fundo */
}

.background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.rodape {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-left, .footer-right {
    display: inline-block; /* Para alinhar os elementos horizontalmente */
    vertical-align: middle; /* Para alinhar verticalmente */
}

.footer-left {
    width: 100%; /* Alterei para 100% para ocupar toda a largura em telas pequenas */
    text-align: center; /* Centralizei o texto */
    padding-left: 0; /* Removi o espaçamento à esquerda */
}

.footer-right {
    width: 100%; /* Alterei para 100% para ocupar toda a largura em telas pequenas */
    text-align: center; /* Centralizei os ícones */
    padding-right: 0; /* Removi o espaçamento à direita */
}

.footer-right a {
    color: #fff;
    text-decoration: none;
    margin: 10px; /* Espaçamento uniforme entre os ícones */
}

.footer-right img {
    width: 40px; /* Largura das imagens */
    height: 40px; /* Altura das imagens */
}
